html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #dfa;
}

#root {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
}

.leaderboard {
    width: 100%;
    background-color: #f4cda0;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.leaderboard .card-container {
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.leaderboard .card {
    padding: 0.5em;
    margin: 0.5em;
    display: flex;
    width: min-content;
    flex-direction: row;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

.leaderboard .card-1 {
    font-size: 150%;
}
.leaderboard .card-2, .leaderboard .card-3 {
    font-size: 120%;
}
.leaderboard .card .time {
    font-size: 200%;
    padding: 0.2em;
    align-self: center;
}
.leaderboard .card .rank {
    padding: 0.2em;
    font-size: 200%;
    align-self: center;
}
.leaderboard .card .rank:before {
    content: "#";
    font-size: 70%;
    color: #555;
}
.leaderboard .card .times {
    text-align: center;
    padding: 0.2em;
    align-self: center;
}
.leaderboard .card .times :nth-child(even) {
    color: #555;
    font-size: 70%;
}

.buzzle-party {
    font-size: 300%;
    text-align: center;
    padding: 0.5em 0;
    text-shadow: 
    -0.05em 0.05em #ef355040,
    -0.10em 0.10em #f48fb130,
    -0.15em 0.15em #7e57c220,
    -0.20em 0.20em #2196f320,
    -0.25em 0.25em #26c6da20,
    -0.30em 0.30em #43a04720,
    -0.35em 0.35em #eeff4120,
    -0.40em 0.40em #f9a82520,
    -0.45em 0.45em #ff572220;
}

.upnext .stack {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
    background-color: #fe8d8d;
    font-size: 200%;
}

.upnext .puzzle-part {
    display: block;
    width: 6em;
    height: 6em;
    padding: 0;
    background-color: #fe8d8d;
    position: relative;
    border-radius: 3em;
}

.upnext .puzzle-part:first-child {
    top: 9em;
    left: -1em;
    float: right;
    margin: 0 -6em 0 0;
}

.upnext .puzzle-part:last-child {
    background-color: rgb(136, 249, 255);
    left: calc(50% - 3em);
    top: 1em;
    margin: -6em 0 0 0;
}

.upnext .stack .secondaries {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.upnext .stack .secondaries div {
    width: 100%;
}

.upnext .stack .pairing {
    background-color: #ffaaaa;
    padding: 1em;
    font-weight: bold;
    text-align: center;
}

.upnext .stack .pairing .title {
    font-weight: normal;
    font-size: 60%;
}

.controls {
    z-index: 1;
    padding: 1em;
    background-color: rgb(136, 249, 255);
}

.controls * {
    margin: 0.1em;
}

.controls hr {
    margin-top: 4em;
}
